<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>783165378449-4f05cfnmpkha2fl7iedmjh0lcbldb165.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783165378449-4f05cfnmpkha2fl7iedmjh0lcbldb165</string>
	<key>API_KEY</key>
	<string>AIzaSyDDxYsuYjQdU_nglgX_1oRplE7mb2zCQMU</string>
	<key>GCM_SENDER_ID</key>
	<string>783165378449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apple.product-type.application</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-8dc4c</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-8dc4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:783165378449:ios:00a7b044f8d60f49985430</string>
</dict>
</plist>